                  <div class="container other-contacts text-center">
                    <div class="col-xs-12 col-md-4">
                        <div class="widget widget_links">
                            <div class="light-text">
                                <i class="glyphicons star">
                                </i>
                                <h4 class="light-text">
                                    Popular Posts
                                </h4>
                            </div>
                            <ul class="u-links-container">
                                <li>
                                    <a href="#">
                                        Lorem ipsum dolor amet consecte
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Adipiscing elit viverra sit Morbi ac ligula
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Velit tincidunt venenatis dolor amet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Donec viverra sit amet sem et rutrum
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Suspendisse vel neque eget leo
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Cras lobortis urna et lorem lobortis, non convallis sapien pulvinar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="widget widget_links">
                            <div class="light-text">
                                <i class="glyphicons comments">
                                </i>
                                <h4 class="light-text">
                                    Popular Comments
                                </h4>
                            </div>
                            <ul class="u-links-container">
                                <li>
                                    <a href="#">
                                        Lorem ipsum dolor amet consecte
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Adipiscing elit viverra sit Morbi ac ligula
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Velit tincidunt venenatis dolor amet
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Donec viverra sit amet sem et rutrum
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Suspendisse vel neque eget leo
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Cras lobortis urna et lorem lobortis, non convallis sapien pulvinar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="widget widget_links">
                            <div class="light-text">
                                <i class="glyphicons link">
                                </i>
                                <h4 class="light-text">
                                    Usefully Links
                                </h4>
                            </div>
                            <ul class="u-links-container">
                                <li>
                                    <a href="http://jquery.js-ku.com/" target="_blank">
                                        jquery api
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.xiaohongfei.cn/" target="_blank">
                                        肖鸿飞个人博客
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>